* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

body {
    background-color:#12a4d9;

}

.img1 {
    position: absolute;

    background-image: url(img/_Pngtree_hand_drawn_cartoon_menstrual_calendar_5526068-removebg-preview.png);
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
}
h1{
    color: rgb(56, 11, 11);
    text-shadow: 1px 2px 3px rgba(3, 3, 0, 0);
    font-family:cursive ;
    font-size: 100px;
}
.img2{
    opacity: 1;
    position: absolute;
    z-index: -1;
    


}
.img2:hover{
    transition: 1s;
    opacity: 1;
}
.img1:hover{
    transition: .5s;
    opacity: 0;
    
}